@using Chat.Data.ModelsDto
@using Chat.Data.Models
@model Chat.Data.Common.GetMessagesResult

@{
    ViewData["Title"] = "Общий чат";

    var message = new MessageDto { MessageType = EMessageType.Public };
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading"><h4>@ViewBag.Title - сообщения видят все пользователи</h4></div>
            <div class="panel-body fixed-panel">
                @foreach (var item in Model.Messages)
                {
                    <div class="media">
                        <div class="media-body">
                            <p>
                                <b>@Html.DisplayFor(modelItem => item.User.UserName)</b>
                                <small class="text-muted">[@Html.DisplayFor(modelItem => item.CreateDate)]</small>
                                @Html.DisplayFor(modelItem => item.Text)
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="AddMessage">
            <form asp-action="Add" asp-controller="Chat" method="POST" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@message.MessageType" />
                <div class="form-group">
                    <label asp-for="@message.Text" class="control-label"></label>
                    <input asp-for="@message.Text" class="form-control" />
                    <span asp-validation-for="@message.Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Отправить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading"><h4>Пользователи</h4></div>
            <div class="panel-body fixed-panel">
                @*@Html.Action("UserList")*@
            </div>
        </div>
        @*@if (ViewBag.HaveUnreadMsg)
        {
            <p class="text-info">
                У вас непрочитанные сообщения от:<br />
                <b>@ViewBag.MessageFrom</b>
            </p>
        }*@
        @Html.ActionLink("Обновить страницу", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>